.encabezado{
    background-color: #FF009E;
    color: black;
    font-family: 'Open Sans';
    font-weight: bold;
    height: 80px;
    font-size: 40px;
    text-align: center;    
}
#navbarSupportedContent{
background-color: whitesmoke;
}
#navbarDropdown{
    background-color: whitesmoke;
    border-radius: 4%;
    font-family: 'Open Sans';
    font-weight: bold;
    color: black;

}
#boxContenedor{
    width: 100%;
    height: 720px;
    display: inline-block;
}
#boxMapa{
    background-image: url(mapa2.jpg);
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
}
.table{
    width: 50%;
    height: 100%;
}
.letra{
    font-family: 'Open Sans';
    font-size: 30px;
    text-align: center;
}